*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
   
    .container{ 
       width:90%;
           margin:auto;
           
           
       }
   
       .col{
           text-align: center;
           width: 80%;;
           
           
       }
       .col label{
           font-size: larger;
           font-family:monospace; }
       .col input{
           height:5vh;
       }
       .col h1{
           padding-top:10px;
           padding-bottom: 10px;
       }
       
       .para{
        width:90%;
        margin: auto;
        text-align: center;
        padding: 20px 30px;
        border:3px solid black;
        margin-top: 20px;
       }
       
    button{
        margin-top: 10px;
        margin-left: 70px
    

    }
        


       